.ScreenImage {
    background-image: url(../Images/popcorn\ background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
    background-image: 
}